
/* 公用的样式 */
*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    font: 14px "HanHei SC","PingFang SC","Avenir Next",Avenir,"Helvetica Neue",Helvetica,"Lantinghei SC","Hiragino Sans GB","Microsoft YaHei",微软雅黑,STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
}
ul{
    list-style: none;
}

/* 公共的句中class */
.wrapper{
    width: 1200px;
    /* 块元素水平居中 */
    margin: 0 auto;
}

/* topbar开始 */

.topbar{
    height: 40px;
    background: #333;
    font-size: 12px;
}



/* 行元素 或者 文字 在父元素中 垂直居中 */
.topbar-list{
    height: 40px;
    /* 当行文字垂直句中 */
    line-height: 40px;

    float: left;

}
/* 所有topbar中的a都这个效果 */
.topbar a{
    color: #fff;
    text-decoration: none;
}

.topbar a:hover{
    color: #ddd;
}


.topbar span{
    /* 加编剧 */
    margin: 0 2px;
    color: #fff;
}

.topbar-info{
    height: 40px;
    line-height: 40px;
    float: right;
}
/* topbar结束 */

/* header开始 */
.header{
    height: 100px;
}

.logo img{
    width: 187px;
    height: 55px;
}

.logo{
    margin-top: 23px;
    float: left;
}

.nav{
    float: right;
}
/* 亲子代选择器，选择它的亲儿子 */
.nav{
    margin: 36px -23px 0 0;

}

.nav > li{
    float: left;
    margin: 0 23px;
    height: 40px;
}

/* 100+1+100 */
.nav > li .nav-list{
    color: #212121;
    font-size: 18px;
}

.nav > li .nav-list:hover{
    color: #e94400;
}

.nav-sub-list{
    /*定位到最近的祖先元素*/position: absolute;
    top: 40px;
    left: -57px;
    width: 150px;
    height: 102px;
    border:1px solid #e5e5e5;
    background: #fff;
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
}
.nav-sub-list{
    display: none;
}

.nav-sub-list ul{
    padding: 10px 0;
}

.nav-money{
    position: relative;
}
.nav-loan{
    position: relative;
}
.nav-loan:hover .nav-sub-list{
    display: block;
}

.nav-money:hover .nav-sub-list{
    display: block;
}

 .nav-sub-list li{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
}

.nav-sub-list li a{
    color: #434343;
}

.nav-sub-list li:hover{
    background: #eee;
}

.nav-sub-list li:hover a{
    color:#e94400;
}

/* 在内部前面加上一个元素 */
.nav-sub-list::before{
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    left: 72px;
    top: -5px;
    border: 1px solid #e5e5e5;
    
    border-right-color : transparent;
    border-bottom-color: transparent;
    /*transformcss3的语法变形*/transform:rotate(45deg);
    background: #ffffff;
}

/* header结束 */

/* banner开始 */
.banner{
    height: 640px;
    /* 不重复，no-repeat */
    background: url(images/banner.jpg) no-repeat center 0 ;
    background-size: cover;
}

.banner h2{
    line-height: 54px;
    font-size: 54px;
    color: white;
    /* 默认有个加粗效果,default: 100 */
    font-weight: 300;
    text-align: center;
    padding-top: 193px;
}
.download_btn a{
    color: #fff;
    font-size: 24px;
    background: #F93F2B;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: inline-block;
    width: 260px;
    height: 60px;
    /*文字垂直居中*/line-height: 60px;
}
.download_btn{
    /* 让行元素居中可以视其为文字进行操作 */
    text-align: center;
    margin-top: 36px;
}
/* banner结束 */

/* content开始 */

/* 内部浮动，解决塌陷问题，这里我们耶加一个overflow */
.content{
    width: 1170px;
    border: 1px solid #e6e6e6;
    margin-top: -80px;
    /* 内边距 */
    padding: 30px 0 0 30px;
    background: white;
    overflow: hidden;
}

.list{
    width: 360px;
    background: white;
    float: left;
    margin-right: 30px;

}



.list-img{
    height: 180px;
    background: url(images/orange.png) 0 0 no-repeat;
    /* css3中新增的语法*/
    background-size: 360px 180px;
    overflow: hidden;
}

.list-blue .list-img{
    background-image: url(images/blue.png);
}

.list-green .list-img{
    background-image: url(images/green.png);
}

.list-title{
    color: white;
    font-size: 33px;
    /* 默认400 */
    font-weight: 400;
    /* 这里注意外边距合并
        两个垂直方向的外边距相遇时候 会发生合并 形成一个外边距
        合并的值 是两者中外边距较大的那个值 
        
        解决办法
        
        1.给父元素添加 overflow:hidden；
        会触发BFC -- 两个独立的空间
        2.给父元素添加一个边框 transparent透明的边框
        3.父元素或者子元素浮动了 或者定位（absolute）了 也都可以（不推荐）
        */
    margin: 44px 0 0 30px;
}
.list-desc{
    color: white;
    font-size: 33px;
    margin: 16px 0 0 30px;
}

.list-info{
    padding: 10px 30px;
    columns: #666666;
    font-size: 16px;
}

.list-info span{
    color: #EA5600;
}

.list-blue .list-info span{
    color: #4481C8;
}

.list-green .list-info span{
    color:#0DB27B;
}

.list-info div{
    margin-top: 20px;
}
/* 注意css的优先级问题 */
.list-info .list-more{
    border-top:1px solid #ececec;
    font-size: 16px;
    color: #fd3911;
    text-align: center;
    margin: 40px 0 10px 0;
    height: 62px;
    line-height: 62px;
}

/* content结束 */

/* fotter开始 */
.footer{
    height: 209px;
    
}

.footer-left-logo{
    width: 46px;
    height: 46px;
    float: left;
    margin-right: 8px;
}

.footer-left-message{
    float: left;
}

.footer-left-message li{
    float: left;
    border-right: 1px solid #575757;
    padding: 0 8px;
}
/* 把最后一个边框去掉，css3中新增选择器 */
.footer-left-message li:last-child{
    border-right: none;
}

.footer-left-message li a{
    color: #575757;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    /* 行元素加个display block可以设置高度 */
    display: block;
}

.about{
    padding:3px 0 7px 0;
    overflow: hidden;
}

.contact li{
    font-size: 12px;
    color: #6d6d6d;
    height: 14px;
    line-height: 14px;
}

.right-title{
    color: #575757;
    font-size: 14px;
}

.right-phone{
    color: #E84519;
    font-size: 26px;
}

.right-time{
    color: #575757;
    font-size: 12px;
}


/* 发现还没写浮动right就上去了，发现footerleft塌陷了，补个overflow */
.footer-left{
    margin-top: 109px;
    overflow: hidden;
    float: left;
}

.footer-right{
    margin-top: 90px;
    float: right;
}

/* footer结束 */